* {
    box-sizing: border-box;
}
body {
    margin: auto 10%;
}
#container {
    border: 1px dashed #666666;
}

#grid-container {
    display: grid;
    grid-template: 4, 1fr / 2, 1fr;
}

#left-col {
    background-color: beige;
    grid-column: 1 / 2;
}

#right-col {
    background-color: blanchedalmond;
    grid-column: 2 / 3;
}