@import "variables.css";

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: auto 10%;
}

#container {
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#topic-nav {
    grid-column: 1 / 3;
    display: flex;
    background: url(../images/devices2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-between;
    height: 700px;
    align-items: center;
}

#topic-nav > div {
    background-color: var(--grey);
    width: 18%;
    height: 100px;
    margin: 1%;
    padding: 3% 5%;
    text-align: center;
}

.left-col {
    grid-column: 1 / 2;
}

.right-col {
    grid-column: 2 / 3;
}



.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-item {
    width: 100%;
    height: 110px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 34px;
    left: 5%;
    padding: 0;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

#contact-info {
    text-align: center;
    padding-top: 20%;
}

#map {
    background: url("../images/location.png");
    background-repeat: no-repeat;
    background-size: 440px 700px;
    width: 440px;
    height: 700px;
    margin: 0 auto;
}

/* MEDIA QUERIES */